[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
flake8-isort = "*"
flake8-quotes = "*"

[packages]
django = "*"
dj-database-url = "*"
gunicorn = "*"
mysqlclient = "*"
whitenoise = "*"
django-widget-tweaks = "*"
django-labs-accounts = {editable = true,git = "https://github.com/pennlabs/django-labs-accounts.git"}

[requires]
python_version = "3.7"
