{% load static %}
<!DOCTYPE html>
<html style="height: 100%">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Downtowns</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.4/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    <script src="https://www.kryogenix.org/code/browser/sorttable/sorttable.js"></script>
  </head>
  <body style="display: flex; flex-direction: column; height: 100%">
    <nav class="navbar is-light" role="navigation" aria-label="main navigation">
      <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-start">
          <a href="/" class="navbar-item">Home</a>
        </div>
      </div>
      <div class="navbar-end">
        {% if user.is_authenticated %}
        <div class="navbar-item">
          <div>Welcome, {{ user.first_name|default:user.username }}!</div>
        </div>
        <div class="navbar-item">
          <div class="buttons">
            <a href="{% url 'logout' %}" class="button is-secondary">Log out</a>
          </div>
        </div>
        {% else %}
        <div class="navbar-item">
          <div class="buttons">
            <a href="{% url 'signup' %}" class="button is-primary"><strong>Sign up</strong></a>
            <a href="{% url 'login' %}?next={{ request.path }}" class="button is-secondary">Log in</a>
          </div>
        </div>
        {% endif %}
      </div>
    </nav>
  <section style="flex: 1 0 auto" class="section">
    <div class="hero-body">
      <div class="container">
        {% block content %}
        {% endblock %}
      </div>
    </div>
  </section>
  <section class="hero is-info is-small">
    <div style="flex-shrink: 0" class="hero-body">
      <div class="container">
        <p> Made without
          <i class="fab fa-js-square"></i>
          by
          <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" target="_blank">Armaan and Peyton<sub><sub><sub><sub> and Ben</sub></sub></sub></sub></a>
        </p>
      </div>
    </div>
    </section>
  </body>
</html>
