{% extends 'main/base.html' %}
{% load bulma_tags %}

{% block header %}
<div class="columns">
  <div class="column is-6 is-offset-3">
    <div class="tabs is-centered is-boxed is-medium">
      <ul>
        <li class="tab is-active" onclick="openTab(event, 'downtown-tab')"><a>
          <p>Downtowns <span class="is-italic">({{ downtown_info|length }})</span></p>
        </a></li>
        <li class="tab" onclick="openTab(event, 'user-tab')"><a>
          <p>Users <span class="is-italic">({{ user_info|length }})</span></p>
        </a></li>
      </ul>
    </div>
  </div>
</div>
<script>
function openTab(evt, tabName) {
    var i, x, tablinks;
    x = document.getElementsByClassName("content-tab");
    for (i = 0; i < x.length; i++) {
        x[i].style.display = "none";
    }
    tablinks = document.getElementsByClassName("tab");
    for (i = 0; i < x.length; i++) {
        tablinks[i].className = tablinks[i].className.replace(" is-active", "");
    }
    document.getElementById(tabName).style.display = "block";
    evt.currentTarget.className += " is-active";
}

function get(name){
   if(name=(new RegExp('[?&]'+encodeURIComponent(name)+'=([^&]*)')).exec(location.search)){
      return decodeURIComponent(name[1]);
   }
}

term = get('query');
if (term != undefined){
    document.getElementById('search-box').value = term;
}
</script>
{% endblock %}

{% block content %}

<div id="downtown-tab" class="content-tab">
{% for downtown, count in downtown_info %}
<div class="box">
  <a href="downtowns/{{ downtown.id }}">
    <div class="columns">
      <div class="column is-3">
      <p>
        <strong class="is-size-3">{{ downtown.name }}</strong>
        <br/>
        {{ downtown.location }}
        <br/>
        {{ downtown.time }}
      </p>
      </div>
      <div class="column is-6">
        <p style="margin-top: 5px">
          {{ downtown.bio }}
        </p>
      </div>
      <div class="column is-1 has-text-centered">
        <p>
          <strong class="is-size-3">{{ downtown.ticket_set.all|length }}</strong>
          <br/>
          <span class="has-text-grey">tickets</span>
        </p>
      </div>
      <div class="column is-1 has-text-centered">
        <p>
          <strong class="is-size-3">${{ downtown.ticket_set.first.price }}</strong>
          <br/>
          <span class="has-text-grey">lowest price</span>
        </p>
      </div>
      <div class="column is-1 has-text-centered">
        <p>
          {% if user.is_authenticated %}
          <strong class="is-size-3">
            {{ count }}
          </strong>
          <br/>
          <span class="has-text-grey">friends</span>
          {% else %}
          Log in to see friends!
          {% endif %}
        </p>
      </div>
    </div>
  </a>
</div>
{% endfor %}
</div>
<div id="user-tab" class="content-tab" style="display: none;">
{% for user, common in user_info %}
<div class="columns">
  <div class="column is-6 is-offset-3">
    <a href="/accounts/profile/{{ user.username }}">
    <div class="box" href="/accounts/profile/{{ user.username }}">
      <div class="columns">
        <div class="column is-9">
          <p>
            <strong class="is-size-3">{{ user.first_name }} {{ user.last_name }}</strong>
            <br/>
            @{{ user.username }}
          </p>
        </div>
        <div class="column is-3 has-text-centered">
          <p>
            <strong class="is-size-3">{{ common }}</strong>
            <br/>
            common friends
          </p>
        </div>
      </div>
    </div>
    </a>
  </div>
</div>
{% endfor %}
</div>

{% endblock %}