{% extends 'main/base.html' %}
{% load widget_tweaks %}
{% load bulma_tags %}

{% block content %}
  <div class="columns is-desktop">
    <div class="column is-6 is-offset-3">
<form method="post">
    {% csrf_token %}
    {{ form|bulma }}
<!--     {% for hidden_field in form.hidden_fields %}
        {{ hidden_field }}
    {% endfor %}

    {% for field in form.visible_fields %}
    <div class="field">
        <label class="label">{{ field.label }}</label>
        <div class="control" style="max-width: 30%">
            {{ field|add_class:"input" }}
        </div>
    </div>
    {% endfor %} -->

    <div class="field is-grouped">
        <div class="control">
            <button type="submit" class="button is-link">Log in</button>
        </div>
        <div class="control">
            <a href="/" class="button is-text">Cancel</a>
        </div>
    </div>
</form>
</div>
</div>
{% endblock %}