{% extends 'main/base.html' %}

{% block header %}
<div class="columns is-desktop">
  <div class="column is-6 is-offset-3 has-text-centered">
    <h1 class="title is-1">{{ profile_user.first_name }} {{ profile_user.last_name}}</h1>
    <h1 class="subtitle">@{{ profile_user.username }}</h1>
    {% if request.user.username != profile_user.username %}
    {% if follow_state == 1 %}
    <a class="button is-primary" onclick="unfollow()"><p><i class="fas fa-check"></i> following</p></a>
    {% elif follow_state == 2 %}
    <button class="button is-info" onclick="follow()"><p><i class="fas fa-plus"></i> follow</p></button>
    {% else %}
    <a class="button is-info" disabled><p>Log in to follow</p></a>
    {% endif %}
    {% endif %}
    <script type="text/javascript">
      function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie !== '') {
          var cookies = document.cookie.split(';');
          for (var i = 0; i < cookies.length; i++) {
            var cookie = cookies[i].trim();
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
              cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
              break;
            }
          }
        }
        return cookieValue;
      }
      function follow() {
        var xhr = new XMLHttpRequest();
        xhr.open("POST", "/accounts/follow/", true);
        xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
        urlEncodedDataPairs = []
        urlEncodedDataPairs.push(encodeURIComponent("username") + '=' + encodeURIComponent("{{ profile_user.username }}"));
        urlEncodedDataPairs.push(encodeURIComponent("csrfmiddlewaretoken") + '=' + encodeURIComponent(getCookie('csrftoken')));
        urlEncodedData = urlEncodedDataPairs.join('&').replace(/%20/g, '+');
        xhr.onreadystatechange = function () {
          if (this.readyState == 4 && this.status == 200) {
            location.reload();
          }
        };
        xhr.send(urlEncodedData);
      }
      function unfollow() {
        var xhr = new XMLHttpRequest();
        xhr.open("POST", "/accounts/unfollow/", true);
        xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
        urlEncodedDataPairs = []
        urlEncodedDataPairs.push(encodeURIComponent("username") + '=' + encodeURIComponent("{{ profile_user.username }}"));
        urlEncodedDataPairs.push(encodeURIComponent("csrfmiddlewaretoken") + '=' + encodeURIComponent(getCookie('csrftoken')));
        urlEncodedData = urlEncodedDataPairs.join('&').replace(/%20/g, '+');
        xhr.onreadystatechange = function () {
          if (this.readyState == 4 && this.status == 200) {
            location.reload();
          }
        };
        xhr.send(urlEncodedData);
      }
      function sell(i) {
        var xhr = new XMLHttpRequest();
        xhr.open("POST", "{% url 'close' %}", true);
        xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
        urlEncodedDataPairs = []
        urlEncodedDataPairs.push(encodeURIComponent("ticket") + '=' + encodeURIComponent(i));
        urlEncodedDataPairs.push(encodeURIComponent("csrfmiddlewaretoken") + '=' + encodeURIComponent(getCookie('csrftoken')));
        urlEncodedData = urlEncodedDataPairs.join('&').replace(/%20/g, '+');
        xhr.onreadystatechange = function () {
          if (this.readyState == 4 && this.status == 200) {
            location.reload();
          }
        };
        xhr.send(urlEncodedData);
      }
      function closeModal(i){
        document.getElementById("ticket-" + i + "-modal").classList.remove('is-active');
      }

      function openModal(i){
        document.getElementById("ticket-" + i + "-modal").classList.add('is-active');
      }
    </script>
  </div>
</div>
{% endblock %}

{% block content %}
{% for ticket in profile_user.ticket_set.all %}
<div class="columns">
  <div class="column is-6 is-offset-3">
    <a>
    <div class="box" onclick="openModal( {{ ticket.id }} )">
      <div class="columns">
        <div class="column is-9">
          <strong class="is-size-3">
            {{ ticket.seller.first_name|default:ticket.seller.username }} {{ ticket.seller.last_name }}
          </strong>
        </div>
        <div class="column is-3 has-text-right">
          <strong class="is-size-3">
            ${{ ticket.price }}
          </strong>
        </div>
      </div>
    </div>
    </a>
  </div>
</div>

<div class="modal" id="ticket-{{ ticket.id }}-modal">
  <div class="modal-background" onclick="closeModal({{ ticket.id }})"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">
        {{ ticket.downtown.name }}
        {% if ticket.sold %}
        (Sold)
        {% else %}
        (Not sold)
        {% endif %}
      </p>
      <button class="delete" aria-label="close" onclick="closeModal({{ ticket.id }})"></button>
    </header>
    <section class="modal-card-body">
      <p class="title">{{ ticket.seller.first_name|default:ticket.seller.username }} {{ ticket.seller.last_name }}</p>
      <p class="subtitle">${{ ticket.price }}</p>
      <p>{{ ticket.bio }}</p>
    </section>
    <footer class="modal-card-foot">
      {% if user.is_authenticated %}
      {% if user == ticket.seller %}
      <button class="button is-success" onclick="sell({{ ticket.id }})">
        {% if ticket.sold %}
        Open
        {% else %}
        Close
        {% endif %}
         ticket
      </button>
      {% endif %}
      {% endif %}
      <a class="button is-info" href="mailto:{{ ticket.seller.email }}">Contact seller</a>
      <button class="button" onclick="closeModal({{ ticket.id }})">Cancel</button>
    </footer>
  </div>
</div>
{% endfor %}
{% endblock %}
