{% extends 'main/base.html' %}
{% load widget_tweaks %}
{% load bulma_tags %}

{% block content %}
<div class="columns is-desktop">
  <div class="column is-6 is-offset-3">
    <form method="post">
      {% csrf_token %}
      {{ form|bulma }}
      <div class="field is-grouped">
        <div class="control">
          <button type="submit" class="button is-link">Register</button>
        </div>
        <div class="control">
          <a href="/" class="button is-text">Cancel</a>
        </div>
      </div>
    </form>
  </div>
</div>
{% endblock %}